.container{

  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

body{
  background-color: chartreuse;
  margin-top: 0px;
}

.tasbeh{
  border: 5px solid black;
  height: 200px;
  display: inline-block;
  border-radius: 20%;
  width: 210px;
  position: relative;
  margin-top:50px;
  
}

.input{
  margin-top: 20px;
  padding-top: 20px;
  border: 8px solid blue;
  margin-left: 10px;
  margin-right: 10px;
}

.button{
  padding: 30px;
  position: absolute;
  left: 80px;
  top: 70%;
  border-radius: 50%;
  background-color:rgb(111, 86, 253);
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  bottom: 10px;
}

.button2{
  margin-top: 10px;
  margin-left: 155px;
  border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 20px;
  background-color:rgb(111, 86, 253);
  border-radius: 50px;
}
